.header {
    padding: 60px;
    text-align: center;
    background: lightgray;
    color: palevioletred;
    font-size: 30px;
}
.logo{
    max-width: 100%;
}
.header img{
    max-width: 5%;
}
